body{
    background-color: azure;
    margin: 0;
    align-content: center;
}

h1{
    color:  rgb(197, 230, 32);
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

p{
    color: ;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}